inpfile.txt
myfile.bin
myfile.txt
testfile.txt
*.o
char_read
char_write
miss_file
string_read
string_write
structured_ascii_read
structured_ascii_write
structured_bin_read_nonseq
structured_bin_write
